<template>
  <div class="proffessor_content">
    <div class="wrapper_proffessors">
      <div class="title_text">Список преподавателей</div>
      <div class="items_professors">

        <div class="item_professor" v-for="proffessor in proffessors">

          <img src="../../public/img/png/ramka.png"
               width="245"
               height="210"
          >
          <p class="preoffessor_text1">{{proffessor.surname}}</p>
          <p class="preoffessor_text2">{{proffessor.name}} {{proffessor.middle_name}}</p>
          <p class="preoffessor_text3">{{proffessor.post}}</p>
        </div>
      </div>

    </div>
  </div>
</template>


<script>

export default defineComponent({

  async setup() {
    const [{ data: proffessors }] = await Promise.all([
      useFetch("http://127.0.0.1:8000/v1/teachers"),
    ])
    return {
      proffessors,
    }
  }
})
</script>

