<template>
  <div class="head_menu">
    <div class="wrapper_head">
      <div class="logo_head">
        <img src="@/public/img/png/logo.png"
             width="137"
             height="45">
      </div>
      <div class="menu_btn_head">
        <NuxtLink
              v-for="ItemMenu in MenuHeads"
              to="/"
              class="link_head"
              :class="{'enter_btn':ItemMenu.active}"
        >
          {{ ItemMenu.title }}
        </NuxtLink>
      </div>
    </div>
  </div>
</template>

<script setup>
  const MenuHeads = [
    {"title":"Главная"},
    {"title":"Преподаватели"},
    {"title":"Новости"},
    {"title":"Расписание"},
    {"title":"Вопрос-ответ"},
    {"title":"Вход",active:true},
  ]
</script>