
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0px;
}

.footer{
    color: black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}


/* HEAD START */
.head_menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    background: #F1F9FF;
    box-shadow: 0 4px 10px #2f97ed26;
    margin-bottom: 2px;
}
.head_menu .wrapper_head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1113px;
    margin: auto;
    align-items: center;
}
.head_menu .wrapper_head .link_head{
    margin-left: 20px;
    color: black;
    text-decoration: none;
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.head_menu .wrapper_head .link_head.enter_btn{
    color: #2F80ED;
    font-weight: 800;
    line-height: normal;
}
/* HEAD STOP  */


/* SLIDER WRAPPER START */
.wrapper_slide{
    width: 100%;
    height: calc(100vh - 100px);
    background: #F1F9FF;
    margin: auto;
    position: relative;
}
.wrapper_slide .slider_content{
    max-width: 1113px;
    margin: auto;
    position: relative;
}

.wrapper_slide .infoproject{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 120px;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.wrapper_slide .infoproject .nubmer_text1{
    color: #2F80ED;

    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.4px;
}
.wrapper_slide .infoproject .text1_title{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
}

.wrapper_slide .slider_content .img_slider{
    position: absolute;
    right: 0;
    top: 50px;
}
.wrapper_slide .slider_content .img_slider img{
    width: auto;
    height: calc(100vh - 200px);
    max-height: 500px;
}

.wrapper_slide .slider_content .text_slider{
    position: relative;
    top: 190px;
}
.wrapper_slide .slider_content .text_slider .title{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.wrapper_slide .slider_content .text_slider .text1{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.wrapper_slide .slider_content .text_slider .text2{
    color: #959CB1;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* SLIDER WRAPPER STOP  */


/* ISTORIA WRAPPER START  */
.wrapper_istoria{
    width: 100%;
    background: #FFFFFF;
    margin: auto;
    position: relative;
    padding-bottom: 50px;
}
.wrapper_istoria .contet_istoria{
    max-width: 1113px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.wrapper_istoria .contet_istoria .text_istoria{
    width: 50%;
}
.wrapper_istoria .contet_istoria .text_istoria div{
    width: 100%;
}
.wrapper_istoria .contet_istoria .text_istoria .title_istoria{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.wrapper_istoria .contet_istoria .text_istoria .text_istoria{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.9px;
}
.wrapper_istoria .contet_istoria .foto_istoria{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
}
.wrapper_istoria .contet_istoria .text_zav .familia_zav{
    color: #2F80ED;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
}
.wrapper_istoria .contet_istoria .text_zav .name_zav{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.9px;
}
.wrapper_istoria .contet_istoria .text_zav .dol_zav{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* ISTORIA WRAPPER STOP   */

/* educations WRAPPER START   */
.educations{
    background: #F1F9FF;
    width: 100%;
    padding-top: 71px;
    padding-bottom: 80px;
}
.educations .wrapper_edications{
    max-width: 1113px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.educations .wrapper_edications .title_text{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-bottom: 36px;
    width: 100%;
}
.educations .wrapper_edications .wrapper_lists{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.educations .wrapper_edications .wrapper_lists .item_edicat{
    width: 45%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #D3DBE6;
    background: #FFF;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .wrapper_item_edicats{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.educations .wrapper_edications .wrapper_lists .item_edicat .wrapper_item_edicats .item_ed{
    width: 33%;
    color: #959CB1;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    padding: 5px;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .wrapper_item_edicats .item_ed .blue_text{
    color: #2F80ED;
}


.educations .wrapper_edications .wrapper_lists .item_edicat .title_ed{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .title_direction{
    color: #3E4554;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.7px;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .title_direction span{
    color: #2F80ED;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.7px;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .title_profile{
    color: #3E4554;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.7px;
}
.educations .wrapper_edications .wrapper_lists .item_edicat .title_profile span{
    color: #2F80ED;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.7px;
}
/* educations WRAPPER STOP   */

/* proffessor_content start*/
.proffessor_content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 60px;
    margin-bottom: 60px;
}
.proffessor_content .wrapper_proffessors{
    max-width: 1113px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.proffessor_content .wrapper_proffessors .title_text{
    color: #3E4554;

    width: 100%;
    text-align: left;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
}
.proffessor_content .wrapper_proffessors .items_professors{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.proffessor_content .wrapper_proffessors .items_professors  .item_professor{
    width: 33%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.proffessor_content .wrapper_proffessors .items_professors  .item_professor .preoffessor_text1{
    color: #2F80ED;

    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.9px;
    width: 100%;
    margin-top: 5px;
}
.proffessor_content .wrapper_proffessors .items_professors  .item_professor .preoffessor_text2{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.7px;
    width: 100%;
}
.proffessor_content .wrapper_proffessors .items_professors  .item_professor .preoffessor_text3{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}
/* proffessor_content stop*/

/* part_news start*/
.part_news{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #F1F9FF;
}
.part_news .wrapper_part_news{
    max-width: 1113px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.part_news .wrapper_part_news .title_news{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
}
.part_news .wrapper_part_news .categories_list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.part_news .wrapper_part_news .categories_list a{
    text-decoration: navajowhite;
    margin-right: 10px;
    color: #3E4554;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}
.part_news .wrapper_part_news .categories_list span a{
    margin-left: 10px;
}

.part_news .wrapper_news{
    max-width: 1113px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
}
.part_news .wrapper_news .newitem_new{
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #D3DBE6;

    background: #FFF;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
}
.part_news .wrapper_news .newitem_new .title_new{
    color: #3E4554;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
    width: 100%;
    margin-bottom: 5px;
}
.part_news .wrapper_news .newitem_new  .text_new{
    color: #959CB1;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
}
.part_news .wrapper_news .newitem_new  .wr_new{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.part_news .wrapper_news .newitem_new  .wr_new .show_new a{
    color: #2F80ED;

    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.part_news .wrapper_news .newitem_new  .wr_new .time_new {
    color: #959CB1;

    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
}
/* part_news stop*/

/* footer start */
.footer{
    padding-top: 30px;
    padding-bottom: 20px;
    background: #12386B;
}
.footer .wrapper_footer{
    max-width: 1113px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    justify-content: space-between;
}
.footer .wrapper_footer .left_menu{
    display: flex;
    flex-wrap: wrap;
}
.footer .wrapper_footer .left_menu .part_menu{
    display: flex;
    flex-direction: column;
    width: 160px;
}
.footer .wrapper_footer .left_menu .part_menu a{
    text-decoration: none;
    color: #D3DBE6;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 357.143% */
    letter-spacing: 0.7px;
}
.footer .wrapper_footer .link_menu{
    display: flex;
    align-items: center;
    color: #D3DBE6;

    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 214.286% */
    letter-spacing: 0.7px;
}

/* footer stop */