<script setup lang="ts">

import FooterComponent from "~/components/FooterComponent.vue";

</script>

<template>
  <div>
    <HeadComponent />
 
    <slot />

    <FooterComponent/>
  </div>
</template>