
<template>
  <div class="content">
    <div class="wrapper_slide">
      <div class="slider_content">
        <div class="text_slider">
          <p class="title">Кафедра ИиПИ</p>
          <p class="text1">Информатика и <br>программная инженерия </p>
          <p class="text2">Рыбницкий филиал ПГУ им. Т.Г. Шевченко </p>
        </div>

        <div class="img_slider">
          <img src="@/public/img/png/slider_img.png"
               width="853"
               height="676"
               >
        </div>



      </div>
      <div class="infoproject">
        <div class="infotexts" v-for="dataDiv in dataDivs">
          <div class="nubmer_text1">
            {{ dataDiv.count }}
          </div>
          <div class="text1_title">
            {{ dataDiv.name }}
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper_istoria">
      <div class="contet_istoria">
        <div class="text_istoria">
          <div class="title_istoria">
            История кафедры
          </div>
          <div class="text_istoria">
            Кафедра «Информатика и программная инженерия» сформирована в 2015 году в рамках реорганизации кафедры «Физика, математика и информатика», успешно функционировавшей с 1994 года, со дня образования инженерно-педагогического факультета ПГУ им. Т.Г. Шевченко в городе Рыбнице. В настоящий момент кафедра обеспечивает преподавание естественнонаучных и специальных дисциплин. За время своей работы кафедра подготовила более 400 специалистов в области программной инженерии и педагогического образования (информатики).
            <br><br>
            С начала своей деятельности коллектив кафедры ориентировался на спрос потребителей: год от года совершенствовались педагогические технологии, появлялись новые специальности
          </div>
        </div>
        <div class="foto_istoria">
          
          <div class="img_fito_dir">
            <img src="@/public/img/png/zavkaf.png"
                 width="372"
                 height="380"
            >
          </div>
          <div class="text_zav">
            <p class="familia_zav">Тягульская</p>
            <p class="name_zav">Людмила Анатольевна</p>
            <p class="dol_zav">Заведующий кафедрой,
              кандидат экономических наук,
              доцент  </p>
          </div>

        </div>
      </div>

    </div>

    <div class="educations">
      <div class="wrapper_edications">
        <div class="title_text">
          Описание направлений и специальностей
        </div>
        <div class="wrapper_lists">

          <div class="item_edicat" v-for="item in slider">

            <div class="title_ed">
              {{ item.title}}
            </div>
            <div class="title_direction">
              <span>Направление :</span>{{ item.direction}}
            </div>
            <div class="title_profile">
              <span>Профиль :</span>{{ item.profile}}
            </div>
            <div class="wrapper_item_edicats">
              <div class="item_ed">
                <p class="blue_text">{{ item.period_development}}</p>
                <p>срок освоения</p>
              </div>
              <div class="item_ed">
                <p class="blue_text">{{ item.form_education}}</p>
                <p>форма обучения</p>
              </div>
              <div class="item_ed">
                <p class="blue_text" v-if="item.is_dogovor">-бюджет</p>
                <p class="blue_text"  v-if="item.is_budget">-договор</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <CommonProffessors/>

    <div class="part_news">

        <div class="wrapper_part_news">
          <div class="title_news">
            Новости
          </div>
          <div class="categories_list">
            <a href="#"> Все новости </a>
            <span v-for="category in categorys">
              | <a href="#"> {{category.title}}</a>
            </span>
          </div>
        </div>

        <div class="wrapper_news">
          <div class="newitem_new" v-for="newitem in news">
              <div class="title_new">{{newitem.title}}</div>
              <div class="text_new">{{newitem.content}} ....</div>
              <div class="wr_new">
                <div class="show_new">
                  <a href="#">подробнее > </a>
                </div>
                <div class="time_new">
                  {{ newitem.created_at }}
                </div>
              </div>
          </div>

        </div>

    </div>

  </div>
</template>

<script setup>
const { data: slider }= await useFetch('http://127.0.0.1:8000/v1/list_educations')
const { data: categorys }= await useFetch('http://127.0.0.1:8000/v1/post/category_posts')
const { data: news }= await useFetch('http://127.0.0.1:8000/v1/posts')
const dataDivs=[
  {"name":"студентов","count":298},
  {"name":"выпускников","count":787},
  {"name":"публикации","count":1894},
  {"name":"проект","count":371},
]
</script>

